In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
import re
import os
from matplotlib.ticker import MaxNLocator
import matplotlib.pyplot as plt
from requests import get
from bs4 import BeautifulSoup
from pandas.util import hash_pandas_object

In [ ]:
data = pd.read_csv('data/en.openfoodfacts.org.products.csv', sep = '\t')

In [ ]:
header = data.columns
odf = pd.DataFrame()
for index in header:
    odf[index] =( [index , sum(data[index].notnull())/1023451*100  , data[index].value_counts().head(4).index.tolist() ])
odf=odf.T
odf =odf.drop(columns=0)
odf=odf.rename(columns={1: "%", 2: "exemple top-4"})

In [ ]:
odfcut=odf[odf["%"]>=3]

In [ ]:
odfcut.to_csv('odfcut.csv')

In [ ]:
data.pnns_groups_1.value_counts()

In [ ]:
pnns1_category = {'unknown' : 'Unknown',
 'Sugary snacks' : 'Snacks', 
 'Milk and dairy products' : 'Dairies',
 'Composite foods' : 'Composite', 
 'Cereals and potatoes' : 'Starchy', 
 'Fish Meat Eggs' : 'Fish Meat Eggs',
 'Beverages' : 'Beverages',
 'Fat and sauces' : 'Fat Sauces',
 'Fruits and vegetables' : 'Fruits Vegetables',
 'Salty snacks' : 'Snacks',
 'fruits-and-vegetables' : 'Fruits Vegetables',
 'sugary-snacks' : 'Snacks',
 'cereals-and-potatoes' : 'Starchy',
 'salty-snacks' : 'Snacks'
}
data['Category Food'] = data['pnns_groups_1'].replace(pnns1_category)

In [ ]:
data['Category Food'].value_counts()

In [ ]:
data['main_category_en'].value_counts().head(30)

In [25]:
maincategoryen_category = {'unknown' : 'Unknown',
'Plant-based foods and beverages' : 'Brevages',
'Snacks' : 'Snacks',
'Beverages' : 'Beverages',
'Dairies' : 'Dairies' ,
'Meats' : 'Fish Meat Eggs',
'Meals' : 'Composite',
'Desserts' : 'Snacks',
'Seafood' : 'Fish Meat Eggs',
'Fruit juices' : 'Brevages',
'Biscuits and cakes' : 'Snacks',
'Fats' : 'Fat Sauces', 
'Fish and meat and eggs' : 'Fish Meat Eggs',
'Fruit-juices-and-nectars' : 'Brevages'
                          }


data['Category Food bis'] = data['main_category_en'].replace(maincategoryen_category)

In [27]:
data[['Category Food bis','Category Food']]

        Category Food bis   Category Food
0                     NaN         Unknown
1                     NaN         Unknown
2                  fr:xsf         Unknown
3                     NaN         Unknown
4                     NaN         Unknown
...                   ...             ...
1023446          fr:tests         Unknown
1023447               NaN         Unknown
1023448            Snacks         Unknown
1023449    Fish Meat Eggs  Fish Meat Eggs
1023450               NaN         Unknown

[1023451 rows x 2 columns]